body
{
    background: url(images/background.jpg) center center fixed;
    background-size: cover;
}
.headerlayout
{
    background-color: transparent!important;
    font-family: serif;
    font-variant-caps: all-petite-caps;
    text-align: center;
}

#header
{
    font-size: 9em;
}
#inputfield
{
    text-align: center;
}
#choosecolor
{
    width: 150px;
    height: 30px;
    border-radius: 7px;
}
#labelcolor
{
    font-size: 1.5em
}
#labelslide
{
    font-size: 1.5em;
}
#inputslider
{
    width: 200px;
    margin: 0 auto;
    height: 50px;
}
#slidercircle
{
    width: 10px;
    height: 10px;
    margin: 10px auto;
    background-color: black;
    border-radius: 50%;
}
#screen
{
    width: 577px;
    height: 500px;
    margin: 30px auto;
    margin-bottom: 10px;
    border: 2px solid black;
}
#paint
{
    width: 572px;
    height: 100%;
    background-color:white;
    cursor: crosshair;
}
#screenoptions
{
    width: 60%;
    margin: auto auto;
    text-align-last: justify;
    margin-bottom: 30px;
}
#inputoptions
{
    width: 80%;
    margin: 20px auto;
    text-align-last: justify;
}
.btn
{
    width: 100px;
    text-align-last: center;
    border: 2px solid black!important;
    box-shadow: 4px 4px rgba(0,0,0,0.4);
}
.btn:active
{
    box-shadow: 0px 0px rgba(0,0,0,0);
    border: 0px solid black!important;
}
#equi
{
    display: none;
}
#right
{
    display: none;
}
.activebutton
{
    background-color:blue!important;
    color: white!important;
    font-weight: 600!important;
    font-size: 15px!important;
}
@media (max-width:720px)
{
    #screen
    {
        width: 450px;
        height: 450px;
    }
    #paint
    {
        width: 100%;
        height: 100%;
    }
    #screenoptions
    {
        width: 100%;
    }
    #inputoptions
    {
        width: 100%;
        text-align-last:center;
    }
}
